@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";

div.container.app-container {
  margin-top: 76px;
}

.checkbox label input,
.radio label input {
  margin-right: 6px;
}

.help-block {
  color: #a94442;
  font-style: italic;
}